<!DOCTYPE html>
<html>
   <head>
      <title>Hello world</title>
   </head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

   <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
   
   <script>
    var socket = io('/proj1'); //io constructor call
    socket.emit('msg', 'test test proj1');
    </script>
   <body>get1</body>
</html>